@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu-header {
    width: 100%;
    position: fixed;
    background-color: blue;
    z-index: 1;
    height: 55px;
}

#cover {
    background-color: red;
    position: relative;
    display: flex;
    width: 100%;
    height: 90vh;
    top: 55px;
}

#about {
    background-color: green;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#log-reg {
    background-color: violet;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#how {
    background-color: yellow;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#success-cases {
    background-color: brown;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#faq {
    background-color: orange;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#contact {
    background-color: fuchsia;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#app {
    background-color: lightcyan;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

footer {
    background-color: crimson;
    position: relative;
    display: flex;
    width: 100%;
    height: 55px;
}