@charset "UTF-8";

@font-face {
    font-family: 'Titles';
    src: url(../Fontes/Monteserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Texting';
    src: url(../Fontes/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Buttons';
    src: url(../Fontes/Nunito/Nunito-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #007ACC;
    --cor2: #66CDAA;
    --cor3: #FFD700;
    --cor4: #E0E0E0;
    --cor5: #333333;

    --textosgerais: 'Texting', Arial, Helvetica, sans-serif;
    --titulos: 'Titles', Arial, Helvetica, serif;
    --botões: 'Buttons', Arial, Helvetica, serif;
}

#menu-header {
    width: 100%;
    position: fixed;
    z-index: 100;
    height: 55px;
}

#menu-header nav {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#menu-header nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    width: 75%;
}

#menu-header nav ul li {
    width: 100%;
}

.menu-btn {
    border: none;
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    font-family: var(--botões);
}

.menu-btn:hover {
    color: var(--cor4);
    background-color: var(--cor1);
    font-weight: bolder;
}

#social-medias {
    background-color: white;
    display: flex;
    position: relative;
    width: 25%;
    align-items: center;
    justify-content: flex-end;
}

#social-medias button {
    position: relative;
    cursor: pointer;
    border: none;
    font-size: 20px;
    margin: 0 10px;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

#social-medias button:hover {
    font-size: 25px;
}

#mobile-menu {
    cursor: pointer;
    background-color: var(--cor1);
    margin: auto;
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 5px;
}

#mobile-menu div {
    font-size: 40px;;
}

#dropdown-menu {
    position: fixed;
    display: block;
    background-color: chartreuse;
    top: 55px;
    width: 100%;
    height: calc(100% - 55px);
    z-index: 1;
}

#dropdown-menu ul {
    position: relative;
    display: flex;
    background-color: darkkhaki;
    list-style: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#dropdown-menu ul li {
    height: 100%;
}

#dropdown-menu ul li #social-mediasmobile {
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

#dropdown-menu ul li #social-mediasmobile button {
    display: flex;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 40px;
}

#cover {
    background-color: red;
    position: relative;
    display: flex;
    width: 100%;
    height: 90vh;
    top: 55px;
    overflow: hidden;
}

#cover div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cover div img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#cover #title {
    width: 425px;
    height: 300px;
    background-color:#e0e0e02f;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    cursor: default;
}

#cover #title h1 {
    position: relative;
    text-align: center;
    font-size: 80px;
    font-family: var(--titulos);
    color: var(--cor3);
    letter-spacing: 1.2px;
    font-weight: lighter;
}

#cover #title p {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-family: var(--textosgerais);
    color: var(--cor5);
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

/*
#cover #content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

#about {
    background-color: green;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#log-reg {
    background-color: violet;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#how {
    background-color: yellow;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#success-cases {
    background-color: brown;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#faq {
    background-color: orange;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#contact {
    background-color: fuchsia;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

#app {
    background-color: lightcyan;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
}

footer {
    background-color: crimson;
    position: relative;
    display: flex;
    width: 100%;
    height: 55px;
}